﻿@{
    ViewData["Title"] = "Edit Placement";
}
@model PlacementDefinition

<form action="EditPlacement" method="post">
    <div class="row form-group">
        <label asp-for="CandidateName" for="CandidateName" class="label label-default">Candidate Name</label>
        <input asp-for="CandidateName" id="CandidateName" class="form-control" />
    </div>
    <div class="row form-group">
        <label asp-for="ClientName" for="ClientName" class="label label-default">Client Name</label>
        <input asp-for="ClientName" id="ClientName" class="form-control" />
    </div>
    <div class="row form-group">
        <label asp-for="JobTitle" for="JobTitle" class="label label-default">Job Title</label>
        <input asp-for="JobTitle" id="JobTitle" class="form-control" />
    </div>
    <div class="row form-group">
        <label asp-for="Start" for="Start" class="label label-default">Start</label>
        <input asp-for="Start" class="datepicker form-control" id="Start" type="date" />
    </div>
    <div class="row form-group">
        <label asp-for="End" for="End" class="label label-default">End</label>
        <input asp-for="End" class="datepicker form-control" id="End" type="date" />
    </div>
    <div class="row form-group">
        <label asp-for="PlacementType" for="PlacementType" class="label label-default">Placement Type</label>
        <select asp-for="PlacementType" asp-items="Html.GetEnumSelectList<PlacementType>()" id="PlacementType" class="form-control"></select>
    </div>
    <div class="row form-group">
        <button type="submit" class="btn btn-success">Get Timesheets</button>
        <a class="btn btn-danger" asp-action="/">Cancel</a>
    </div>
    @if(Model?.TimesheetDateRanges?.Any() == true)
    {
    <div class="row form-group">
        <h3>Timesheets</h3>
        @{int i = 0; }
        @foreach (var timesheet in Model.TimesheetDateRanges)
        {
        <div class="form-group">
            <button type="submit" class="btn btn-primary" asp-action="ViewTimesheet" asp-route-id="@i">
                @((Model.PlacementType == PlacementType.Monthly) ? timesheet.Start.ToString("MMMM") + " - " : "")@timesheet.Start.ToShortDateString() to @timesheet.End.ToShortDateString()
            </button>
        </div>
        i++;
        }
    </div>
    } else if (Model.End < Model.Start)
    {
    <div>End date must be later than or the same as the start date.</div>
    } else
    {
    <div>Please enter valid dates to generate timesheets.</div>
    }
</form>

