﻿@model PlacementDefinition

@{

    int index = ViewBag.Index;
    var ranges = Model.TimesheetDateRanges;
    var validIndex = index < ranges?.Count;
    var timeSheet = validIndex ? (ranges[index] as DateRange?) : null;
    ViewData["Title"] = $"Timesheet {timeSheet.Value.Start.ToShortDateString()} to {timeSheet.Value.End.ToShortDateString()}";
}
<form action="ViewTimesheet" method="get">

    <div class="row form-group">
        @if (index > 0)
        {
            <button type="submit" class="btn btn-default" asp-action="ViewTimesheet" asp-route-id="@(index-1)">
                Previous
            </button>
        }
        <span>Sheet @(index + 1) of @ranges?.Count</span>
        @if (index < ranges?.Count - 1)
        {
            <button type="submit" class="btn btn-default" asp-action="ViewTimesheet" asp-route-id="@(index+1)">
                Next
            </button>
        }
    </div>
    <div class="row form-group">
        <label asp-for="CandidateName" for="CandidateName" class="label label-default">Candidate Name</label>
        <input asp-for="CandidateName" id="CandidateName" class="form-control" readonly />
    </div>
    <div class="row form-group">
        <label asp-for="ClientName" for="ClientName" class="label label-default">Client Name</label>
        <input asp-for="ClientName" id="ClientName" class="form-control" readonly />
    </div>
    <div class="row form-group">
        <label asp-for="JobTitle" for="JobTitle" class="label label-default">Job Title</label>
        <input asp-for="JobTitle" id="JobTitle" class="form-control" readonly />
    </div>
    <div class="row form-group">
        <label asp-for="Start" for="Start" class="label label-default">Placement Start</label>
        <input asp-for="Start" class="form-control" id="Start" readonly />
    </div>
    <div class="row form-group">
        <label asp-for="End" for="End" class="label label-default">Placement End</label>
        <input asp-for="End" class="form-control" id="End" readonly />
    </div>
    @if (timeSheet.HasValue)
    {
        <div class="row form-group">
            <label for="Start" class="label label-default">Timesheet Start</label>
            <input class="form-control" readonly value="@timeSheet.Value.Start.ToShortDateString()" />
        </div>
        <div class="row form-group">
            <label for="End" class="label label-default">Timesheet End</label>
            <input class="form-control" readonly value="@timeSheet.Value.End.ToShortDateString()" />
        </div>
    }
    <div class="row form-group">
        <label asp-for="PlacementType" for="PlacementType" class="label label-default">Placement Type</label>
        @*<select asp-for="PlacementType" asp-items="Html.GetEnumSelectList<PlacementType>()" id="PlacementType" class="hidden" readonly></select>*@
        <input asp-for="PlacementType" asp-items="Html.GetEnumSelectList<PlacementType>()" id="PlacementType" class="form-control" readonly value="@Model.PlacementType" />
    </div>
    <div class="row form-group">
        <button type="submit" class="btn btn-success" asp-action="ViewCsvTimesheet" asp-route-id="@index" formtarget="_blank">
            Download CSV
        </button>
        <button type="submit" class="btn btn-primary" asp-action="EditPlacement">
            Back to Edit Placement
        </button>
    </div>
</form>

<div class="row form-group">
    <div class="label label-default">Timesheet Dates</div>

    @if (validIndex)
    {
        var date = timeSheet.Value.Start;
        while (date <= timeSheet.Value.End)
        {
            <div>@date.DayOfWeek @date.ToString("D")</div>
            date = date.AddDays(1);
        }
    }
    else
    {
        <div>index @index  is invalid, there are only @(ranges?.Count ?? 0) timesheets available.</div>
    }
</div>
