﻿@model PlacementDefinition
@{ Layout = ""; }

@{
    int index = ViewBag.Index;
    var ranges = Model.TimesheetDateRanges;
    var validIndex = index < ranges.Count;
    var timeSheet = validIndex ? (ranges[index] as DateRange?) : null;
    ViewData["Title"] = $"Timesheet {timeSheet.Value.Start.ToShortDateString()} to {timeSheet.Value.End.ToShortDateString()}";
}

<div>
    <span>Candidate Name,@Model.CandidateName,,</span>
</div>
<div>
    <span>Client Name,@Model.ClientName,,</span>
</div>
<div>
    <span>Job Title,@Model.JobTitle,,</span>
</div>
<div>
    <span>Placement Dates,@Model.Start?.ToShortDateString(),@Model.End?.ToShortDateString(),@Model.PlacementType</span>
</div>
@if (timeSheet.HasValue)
{
    <div>
        <span>Timesheet Dates,@timeSheet.Value.Start.ToShortDateString(),@timeSheet.Value.End.ToShortDateString(),</span>
    </div>
    <div>
        ,,,
    </div>
    <div>
        <span>Date,Start Time,End Time,Notes</span>
    </div>
    
    var date = timeSheet.Value.Start;
    while (date <= timeSheet.Value.End)
    {
        <div>
            <span>
                @date.DayOfWeek @date.ToString("D"),,,
            </span>
        </div>
        date = date.AddDays(1);
    }
}
else
{
    <div>index @index  is invalid, there are only @ranges.Count timesheets available,,,</div>
}

